<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse.opa.and">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="cse.opa.and.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Topology"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_topology"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Report" />
        <activity android:name=".ListOfTopologies" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
    </application>

</manifest>